@page "/sync"
@inject ProductOfflineSyncService SyncService

<button @onclick="SyncData">Sync Data</button>

<ProductList></ProductList>

@code {
	private async Task SyncData()
	{
		var modifiedResult = await SyncService.SyncDataAsync();
		if (modifiedResult)
		{//TODO on change we need to re show the updated component
			StateHasChanged();
		}
	}
}
